body {
  font-family: Yanone Kaffeesatz, sans-serif;
}

.button {
  width: 100px;
  border-radius: 4px;
  text-align: center;
  padding: 4px 14px;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.green {
  background-color: #AED581;
  border: 1px solid #AED581;
}

.red {
  background-color: #d32f2f;
  border: 1px solid #d32f2f;
  color: #fff
}
